:root{
    --background-transparent: rgba(78,115,223,.6);
}

.container-fluid{
    color: rgb(30,30,30);
}
@media(min-width: 991px){
    #return_testemunhas_local{
        margin-top: -15px!important;
    }
}
#Testemunhas{
    margin-top: 80px;
    /* display: none; */
}